# Standard Android Studio and Gradle Ignores
.gradle/
build/
app/build/
**/build/
**/.gradle/

# Local configuration files
local.properties
release.keystore

# Log files
*.log

# Android Studio project files
.idea/
*.iml
*.ap_
*.apk
*.dex
*.class
captures/
.externalNativeBuild/
.cxx/
.DS_Store
